#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath





# Others
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db



#############
## Joomla Php
#############
php_errors.log
#en-GB.plg_*.ini
#en-GB.lib_*.ini
#en-GB.mod_*.ini
#en-GB.tpl_*.ini
index2.php
index.php

configuration.php
bin/
cache/
cli/
images/banners/
images/headers/
images/sampledata/
images/joomla_*.*
images/clubreg/
includes/
layouts/
libraries/
logs/
media/
modules/
plugins/
templates/
tmp/
dump/

administrator/cache/
administrator/help/
administrator/includes/
administrator/manifests/
administrator/modules/
administrator/templates/

#Components Both admin and frontend
com_admin/
com_banners/
com_cache/
com_categories/
com_checkin/
com_config/
com_contact/
com_content/
com_cpanel/
com_finder/
com_installer/
com_joomlaupdate/
com_languages/
com_login/
com_mailto/
com_wrapper/
com_media/
com_menus/
com_messages/
com_modules/
com_newsfeeds/
com_plugins/
com_redirect/
com_search/
com_tags/
com_templates/
com_users/
com_weblinks/

#Language files Front End

en-GB.com_contact.ini
en-GB.com_content.ini
en-GB.com_finder.ini
en-GB.com_mailto.ini
en-GB.com_media.ini
en-GB.com_messages.ini
en-GB.com_newsfeeds.ini
en-GB.com_search.ini
en-GB.com_users.ini
en-GB.com_weblinks.ini
en-GB.com_wrapper.ini
en-GB.files_joomla.sys.ini
en-GB.finder_cli.ini
en-GB.ini
en-GB.lib_joomla.ini
en-GB.lib_joomla.sys.ini
en-GB.lib_phpmailer.sys.ini
en-GB.lib_phputf8.sys.ini
en-GB.lib_simplepie.sys.ini
en-GB.localise.php
en-GB.mod_articles_archive.ini
en-GB.mod_articles_archive.sys.ini
en-GB.mod_articles_categories.ini
en-GB.mod_articles_categories.sys.ini
en-GB.mod_articles_category.ini
en-GB.mod_articles_category.sys.ini
en-GB.mod_articles_latest.ini
en-GB.mod_articles_latest.sys.ini
en-GB.mod_articles_news.ini
en-GB.mod_articles_news.sys.ini
en-GB.mod_articles_popular.ini
en-GB.mod_articles_popular.sys.ini
en-GB.mod_banners.ini
en-GB.mod_banners.sys.ini
en-GB.mod_breadcrumbs.ini
en-GB.mod_breadcrumbs.sys.ini
en-GB.mod_custom.ini
en-GB.mod_custom.sys.ini
en-GB.mod_feed.ini
en-GB.mod_feed.sys.ini
en-GB.mod_finder.ini
en-GB.mod_finder.sys.ini
en-GB.mod_footer.ini
en-GB.mod_footer.sys.ini
en-GB.mod_languages.ini
en-GB.mod_languages.sys.ini
en-GB.mod_login.ini
en-GB.mod_login.sys.ini
en-GB.mod_menu.ini
en-GB.mod_menu.sys.ini
en-GB.mod_random_image.ini
en-GB.mod_random_image.sys.ini
en-GB.mod_related_items.ini
en-GB.mod_related_items.sys.ini
en-GB.mod_search.ini
en-GB.mod_search.sys.ini
en-GB.mod_stats.ini
en-GB.mod_stats.sys.ini
en-GB.mod_syndicate.ini
en-GB.mod_syndicate.sys.ini
en-GB.mod_users_latest.ini
en-GB.mod_users_latest.sys.ini
en-GB.mod_weblinks.ini
en-GB.mod_weblinks.sys.ini
en-GB.mod_whosonline.ini
en-GB.mod_whosonline.sys.ini
en-GB.mod_wrapper.ini
en-GB.mod_wrapper.sys.ini
en-GB.tpl_beez3.ini
en-GB.tpl_beez3.sys.ini
en-GB.tpl_protostar.ini
en-GB.tpl_protostar.sys.ini
en-GB.xml
index.html

#Language File Admin
en-GB.com_admin.ini
en-GB.com_admin.sys.ini
en-GB.com_banners.ini
en-GB.com_banners.sys.ini
en-GB.com_cache.ini
en-GB.com_cache.sys.ini
en-GB.com_categories.ini
en-GB.com_categories.sys.ini
en-GB.com_checkin.ini
en-GB.com_checkin.sys.ini
en-GB.com_config.ini
en-GB.com_config.sys.ini
en-GB.com_contact.ini
en-GB.com_contact.sys.ini
en-GB.com_content.ini
en-GB.com_content.sys.ini
en-GB.com_cpanel.ini
en-GB.com_cpanel.sys.ini
en-GB.com_finder.ini
en-GB.com_finder.sys.ini
en-GB.com_installer.ini
en-GB.com_installer.sys.ini
en-GB.com_joomlaupdate.ini
en-GB.com_joomlaupdate.sys.ini
en-GB.com_languages.ini
en-GB.com_languages.sys.ini
en-GB.com_login.ini
en-GB.com_login.sys.ini
en-GB.com_mailto.sys.ini
en-GB.com_media.ini
en-GB.com_media.sys.ini
en-GB.com_menus.ini
en-GB.com_menus.sys.ini
en-GB.com_messages.ini
en-GB.com_messages.sys.ini
en-GB.com_modules.ini
en-GB.com_modules.sys.ini
en-GB.com_newsfeeds.ini
en-GB.com_newsfeeds.sys.ini
en-GB.com_plugins.ini
en-GB.com_plugins.sys.ini
en-GB.com_redirect.ini
en-GB.com_redirect.sys.ini
en-GB.com_search.ini
en-GB.com_search.sys.ini
en-GB.com_templates.ini
en-GB.com_templates.sys.ini
en-GB.com_users.ini
en-GB.com_users.sys.ini
en-GB.com_weblinks.ini
en-GB.com_weblinks.sys.ini
en-GB.com_wrapper.ini
en-GB.com_wrapper.sys.ini
en-GB.ini
en-GB.lib_joomla.ini
en-GB.localise.php
en-GB.mod_custom.ini
en-GB.mod_custom.sys.ini
en-GB.mod_feed.ini
en-GB.mod_feed.sys.ini
en-GB.mod_latest.ini
en-GB.mod_latest.sys.ini
en-GB.mod_logged.ini
en-GB.mod_logged.sys.ini
en-GB.mod_login.ini
en-GB.mod_login.sys.ini
en-GB.mod_menu.ini
en-GB.mod_menu.sys.ini
en-GB.mod_multilangstatus.ini
en-GB.mod_multilangstatus.sys.ini
en-GB.mod_popular.ini
en-GB.mod_popular.sys.ini
en-GB.mod_quickicon.ini
en-GB.mod_quickicon.sys.ini
en-GB.mod_stats_admin.ini
en-GB.mod_stats_admin.sys.ini
en-GB.mod_status.ini
en-GB.mod_status.sys.ini
en-GB.mod_submenu.ini
en-GB.mod_submenu.sys.ini
en-GB.mod_title.ini
en-GB.mod_title.sys.ini
en-GB.mod_toolbar.ini
en-GB.mod_toolbar.sys.ini
en-GB.mod_version.ini
en-GB.mod_version.sys.ini
en-GB.plg_authentication_gmail.ini
en-GB.plg_authentication_gmail.sys.ini
en-GB.plg_authentication_joomla.ini
en-GB.plg_authentication_joomla.sys.ini
en-GB.plg_authentication_ldap.ini
en-GB.plg_authentication_ldap.sys.ini
en-GB.plg_captcha_recaptcha.ini
en-GB.plg_captcha_recaptcha.sys.ini
en-GB.plg_content_emailcloak.ini
en-GB.plg_content_emailcloak.sys.ini
en-GB.plg_content_finder.ini
en-GB.plg_content_finder.sys.ini
en-GB.plg_content_geshi.ini
en-GB.plg_content_geshi.sys.ini
en-GB.plg_content_joomla.ini
en-GB.plg_content_joomla.sys.ini
en-GB.plg_content_loadmodule.ini
en-GB.plg_content_loadmodule.sys.ini
en-GB.plg_content_pagebreak.ini
en-GB.plg_content_pagebreak.sys.ini
en-GB.plg_content_pagenavigation.ini
en-GB.plg_content_pagenavigation.sys.ini
en-GB.plg_content_vote.ini
en-GB.plg_content_vote.sys.ini
en-GB.plg_editors-xtd_article.ini
en-GB.plg_editors-xtd_article.sys.ini
en-GB.plg_editors-xtd_image.ini
en-GB.plg_editors-xtd_image.sys.ini
en-GB.plg_editors-xtd_pagebreak.ini
en-GB.plg_editors-xtd_pagebreak.sys.ini
en-GB.plg_editors-xtd_readmore.ini
en-GB.plg_editors-xtd_readmore.sys.ini
en-GB.plg_editors_codemirror.ini
en-GB.plg_editors_codemirror.sys.ini
en-GB.plg_editors_none.ini
en-GB.plg_editors_none.sys.ini
en-GB.plg_editors_tinymce.ini
en-GB.plg_editors_tinymce.sys.ini
en-GB.plg_extension_joomla.ini
en-GB.plg_extension_joomla.sys.ini
en-GB.plg_finder_categories.ini
en-GB.plg_finder_categories.sys.ini
en-GB.plg_finder_contacts.ini
en-GB.plg_finder_contacts.sys.ini
en-GB.plg_finder_content.ini
en-GB.plg_finder_content.sys.ini
en-GB.plg_finder_newsfeeds.ini
en-GB.plg_finder_newsfeeds.sys.ini
en-GB.plg_finder_weblinks.ini
en-GB.plg_finder_weblinks.sys.ini
en-GB.plg_quickicon_extensionupdate.ini
en-GB.plg_quickicon_extensionupdate.sys.ini
en-GB.plg_quickicon_joomlaupdate.ini
en-GB.plg_quickicon_joomlaupdate.sys.ini
en-GB.plg_search_categories.ini
en-GB.plg_search_categories.sys.ini
en-GB.plg_search_contacts.ini
en-GB.plg_search_contacts.sys.ini
en-GB.plg_search_content.ini
en-GB.plg_search_content.sys.ini
en-GB.plg_search_newsfeeds.ini
en-GB.plg_search_newsfeeds.sys.ini
en-GB.plg_search_weblinks.ini
en-GB.plg_search_weblinks.sys.ini
en-GB.plg_system_cache.ini
en-GB.plg_system_cache.sys.ini
en-GB.plg_system_debug.ini
en-GB.plg_system_debug.sys.ini
en-GB.plg_system_highlight.ini
en-GB.plg_system_highlight.sys.ini
en-GB.plg_system_languagecode.ini
en-GB.plg_system_languagecode.sys.ini
en-GB.plg_system_languagefilter.ini
en-GB.plg_system_languagefilter.sys.ini
en-GB.plg_system_log.ini
en-GB.plg_system_log.sys.ini
en-GB.plg_system_logout.ini
en-GB.plg_system_logout.sys.ini
en-GB.plg_system_p3p.ini
en-GB.plg_system_p3p.sys.ini
en-GB.plg_system_redirect.ini
en-GB.plg_system_redirect.sys.ini
en-GB.plg_system_remember.ini
en-GB.plg_system_remember.sys.ini
en-GB.plg_system_sef.ini
en-GB.plg_system_sef.sys.ini
en-GB.plg_user_contactcreator.ini
en-GB.plg_user_contactcreator.sys.ini
en-GB.plg_user_joomla.ini
en-GB.plg_user_joomla.sys.ini
en-GB.plg_user_profile.ini
en-GB.plg_user_profile.sys.ini
en-GB.tpl_hathor.ini
en-GB.tpl_hathor.sys.ini
en-GB.tpl_isis.ini
en-GB.tpl_isis.sys.ini
en-GB.xml
index.html

en-GB.com_learnstyle.*
en-GB.com_tags.*

