<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="General"
		label="General"
		description="General Configuration">	
		
		<field
			id="playertypes"
			name="playertype"
			type="list"
			label="COM_CLUBREG_PT"
			description="COM_CLUBREG_PT_DESC"
			default="senior"
			class="inputbox input-xlarge" multiple="multiple">
			<option
				value="">COM_CLUBREG_PT</option>
			<option
				value="junior">COM_CLUBREG_PT_JUNIOR</option>
			<option
				value="senior">COM_CLUBREG_PT_SENIOR</option>
			<option
				value="guardian">COM_CLUBREG_PT_GUARDIAN</option>
			
		</field>
		
		<field
			id="default_playertype"
			name="default_playertype"
			type="list"
			label="COM_CLUBREG_PT_DEFAULT"
			description="COM_CLUBREG_PT_DEFAULT_DESC"
			default="senior"
			class="inputbox input-xlarge">
			<option
				value="">COM_CLUBREG_PT</option>
			<option
				value="junior">COM_CLUBREG_PT_JUNIOR</option>
			<option
				value="senior">COM_CLUBREG_PT_SENIOR</option>
			<option
				value="guardian">COM_CLUBREG_PT_GUARDIAN</option>
			
		</field>
	
		<field name="attachment_folder"
			type="text"
			size="30"
			label="COM_CLUBREG_FOLDER_LABEL"
			description="COM_CLUBREG_FOLDER_DESC" class="inputbox input-large" default="clubreg"/>
			
			<field name="profile_divrightedge"
			type="text"
			size="30"
			label="COM_CLUBREG_DIVRIGHT_LABEL"
			description="COM_CLUBREG_DIVRIGHT_DESC" class="inputbox input-large" default="750"/>
			
			<field name="profile_tabposition"
			type="list"			
			label="COM_CLUBREG_TABPOSITION_LABEL"
			description="COM_CLUBREG_TABPOSITION_DESC" class="inputbox input-large" default="top">				
				<option value="top">COM_CLUBREG_TABPOSITION_TOP</option>
				<option value="left">COM_CLUBREG_TABPOSITION_LEFT</option>
				<option value="right">COM_CLUBREG_TABPOSITION_RIGHT</option>
				
			</field>		

	</fieldset>
	<!--
	<fieldset name="dropbox"
		label="Drop Box configuation"
		description="Configuration for Drop Box"
	>
		
		<field name="appkey"
			type="text"
			size="30"
			label="COM_CLUBREG_APPKEY_LABEL"
			description="COM_CLUBREG_APPKEY_DESC" class="inputbox input-large"/>
			
		<field name="appsecret"
			type="text"
			size="30"
			label="COM_CLUBREG_APPSECRET_LABEL"
			description="COM_CLUBREG_APPSECRET_DESC" class="inputbox input-large"/>
			
		<field name="appfolder"
			type="text"
			size="30"
			label="COM_CLUBREG_APPFOLDER_LABEL"
			description="COM_CLUBREG_APPFOLDER_DESC" class="inputbox input-large"/>
			
		<field name="access_type"
			type="text"
			size="30"
			label="COM_CLUBREG_APPACCESSTYPE_LABEL"
			description="COM_CLUBREG_APPACCESSTYPE_DESC" class="inputbox input-large"/>

	</fieldset>
	-->
	<fieldset name="tabs"
			label="COM_CLUBREG_TAB_LABEL"
			description="COM_CLUBREG_TAB_DESC"
			addfieldpath="/administrator/components/com_clubreg/models/fields"
		>	
		<field name="tabjunior"
			label="COM_CLUBREG_PT_JUNIOR"
			description="Render the following tabs"
			type="clubtabs" configwhich="junior">		
		</field>		
		
		<field name="tabsenior"
			label="COM_CLUBREG_PT_SENIOR"
			description="Render the following tabs"
			type="clubtabs" configwhich="senior">		
		</field>		
		
		<field name="tabguardian"
			label="COM_CLUBREG_PT_GUARDIAN"
			description="Render the following tabs"
			type="clubtabs" configwhich="guardian">	
		</field>

	</fieldset>

</config>
