@CHARSET "ISO-8859-1";
.profile_attachment_div{
	font-size:1.2em;
	color: #D4D7FE;	
	/*background-color:#666666; */
	background-color:#1e8fc6;
	padding:2px 2px 2px 5px;
	border-color:#ddd;
    -moz-border-radius: 5px;
  	border-radius: 5px;
    border-style:solid;
    border-width:1px;  
    border-bottom:1px ;
}