@CHARSET "ISO-8859-1";

.loading1{
	background: transparent url(../images/bigrotation2.gif ) no-repeat;
	background-repeat:no-repeat;
 	background-position:center center; 
 	min-height:200px;
}
.loading-small{
	background: transparent url(../images/bigrotation2.gif ) no-repeat;
	background-repeat:no-repeat;
	background-position:center center; 
 	min-height:34px;
 	height:40px;
 	z-index:300px;
}

ol.activity li{
	
}
ol.activity li p{
	margin:0px;
	padding:5px;
	border-bottom: 1px dashed #999999;
}

ol.activity li p span.activity_label{
	font-weight:bold;
	font-size:0.9em;
}

##
.list-striped,
.row-striped {
	list-style: none;
	line-height: 18px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #ddd;
	margin-left: 0;
}
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
	border-bottom: 1px solid #ddd;
	padding: 8px;
}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
	background-color: #f9f9f9;
}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
	background-color: #f5f5f5;
}
.row-striped .row-fluid {
	width: 97%;
}
.row-striped .row-fluid [class*="span"] {
	min-height: 10px;
}
.row-striped .row-fluid [class*="span"] {
	margin-left: 8px;
}
.row-striped .row-fluid [class*="span"]:first-child {
	margin-left: 0;
}

.element-invisible {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
div.fieldSetDiv{
	
	font-size:1.4em;	
	color: #1e8fc6;	
	padding-bottom:5px;	
	padding-top:5px;
	padding-left:10px;	
	margin-bottom:5px;
	/*border-bottom:solid 1px #1e8fc6;*/
}
.first-field-div{
	margin-right:10px;
}
div.fieldSetDiv__{
	
	font-size:1.4em;	
	color: #D4D7FE;	
	padding-bottom:5px;	
	padding-top:5px;
	padding-left:10px;	
	margin-bottom:5px;	
	
	/*background-color:#666666; 
	background-color:#1e8fc6;
	
	border-color:#ddd;
    -moz-border-radius: 5px;
  	border-radius: 5px;
    border-style:solid;
    border-width:1px;  
    border-bottom:1px */
   
}
.control-label label{
	font-weight:bold;
	color:#333333;
	
}

.form-clubreg {   
  /*  border:solid 1px #AAAAAA;*/
     border-top:solid 4px #666666;
}

