div.tab-divs{
	border-color:#ddd;
    -moz-border-radius: 5px;
  	border-radius: 5px;
    border-style:solid;
    border-width:1px;
    padding:0px 5px 0px 5px;
    box-shadow: 10px 10px 5px #DDEDED;
    -webkit-box-shadow: 10px 10px 5px #DDEDED;
    -moz-box-shadow: 10px 10px 5px #DDEDED;
    padding:5px;
    
}

.clugreg-div{
	width:99%;
	border-radius: 5px;
    border-style:solid;
    border-width:0px;
    border-color:#DDEDED;
    padding:1px;
}
.section-title{
	
	font-size:1.4em;	
	color: #1e8fc6;	
	padding-bottom:5px;	
	padding-top:5px;
	
	margin-bottom:5px;
	text-align:center;
	
	border-bottom:1px solid #3E3E3E;
	background-color:#DDEDED;;
	
	
}